In [ ]:
%pip install pandas


import pandas as pd
import numpy as np

## Read files

In [2]:
a = pd.read_json("1.json")

In [3]:
a

   a  b  c
0  1  2  3
1  4  5  6
2  7  8  9

In [4]:
a.to_json()

'{"a":{"0":1,"1":4,"2":7},"b":{"0":2,"1":5,"2":8},"c":{"0":3,"1":6,"2":9}}'

In [5]:
b = pd.read_csv("1.csv")

In [6]:
b

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [7]:
b.to_csv()

',a,b,c,d,message\r\n0,1,2,3,4,hello\r\n1,5,6,7,8,world\r\n2,9,10,11,12,foo\r\n'