In [ ]:
%pip install pandas

import pandas as pd
import numpy as np

## Indeksowanie
### Series

In [ ]:
a = pd.Series(np.arange(5), index=["a","b","c","d","e"])
print(a)

print(a[["c","d","e"]])
print(a[2:5])
print(a[a < 2])

In [ ]:
b = pd.Series([10,20,30], index=[5,3,8])
c = pd.Series([10,20,30], index=["a","b","c"])

b[[0,1,2]]

In [ ]:
c.iloc[[0,1,2]]

In [ ]:
c.loc["a":"b"]

### DataFrame

In [40]:
d = pd.DataFrame(np.arange(16).reshape((4,4)), index=["q","w","e","t"],columns=["z","x","c","v"])
d

    z   x   c   v
q   0   1   2   3
w   4   5   6   7
e   8   9  10  11
t  12  13  14  15

In [42]:
d[["x","c"]]

    x   c
q   1   2
w   5   6
e   9  10
t  13  14

In [46]:
d[:2]

   z  x  c  v
q  0  1  2  3
w  4  5  6  7

In [47]:
d[d["v"] > 10]

    z   x   c   v
e   8   9  10  11
t  12  13  14  15

In [48]:
d < 10

       z      x      c      v
q   True   True   True   True
w   True   True   True   True
e   True   True  False  False
t  False  False  False  False

In [50]:
d[d < 10] = -1
d

    z   x   c   v
q  -1  -1  -1  -1
w  -1  -1  -1  -1
e  -1  -1  10  11
t  12  13  14  15

In [55]:
d.loc["t", ["z","c"]]

z    12
c    14
Name: t, dtype: int32

In [60]:
d.iloc[3, [3,1]]

v    15
x    13
Name: t, dtype: int32

In [62]:
d.iloc[:, :2][d.c > 10]

    z   x
t  12  13

In [63]:
d.loc[d.v > 10]

    z   x   c   v
e  -1  -1  10  11
t  12  13  14  15