In [ ]:
%pip install pandas

import pandas as pd
import numpy as np

## Kalkulacje
### Series

In [5]:
a = pd.Series([3.44,456.5,567.6,4.6], index=["q","w","e","t"])
b = pd.Series([345.6,67.689,23.54,4.54,78.8], index=["q","w","e","t","y"])

In [6]:
a

q      3.44
w    456.50
e    567.60
t      4.60
dtype: float64

In [7]:
b

q    345.600
w     67.689
e     23.540
t      4.540
y     78.800
dtype: float64

In [8]:
a + b

e    591.140
q    349.040
t      9.140
w    524.189
y        NaN
dtype: float64

In [11]:
c = pd.DataFrame(np.arange(25.).reshape(5,5), index=["q","w","e","t","y"],columns=["z","x","c","v","b"])
d = pd.DataFrame(np.arange(15.).reshape(3,5), index=["q","w","e",],columns=["z","x","c","v","b"])

In [15]:
c

      z     x     c     v     b
q   0.0   1.0   2.0   3.0   4.0
w   5.0   6.0   7.0   8.0   9.0
e  10.0  11.0  12.0  13.0  14.0
t  15.0  16.0  17.0  18.0  19.0
y  20.0  21.0  22.0  23.0  24.0

In [14]:
d

      z     x     c     v     b
q   0.0   1.0   2.0   3.0   4.0
w   5.0   6.0   7.0   8.0   9.0
e  10.0  11.0  12.0  13.0  14.0

In [16]:
c + d

      z     x     c     v     b
e  20.0  22.0  24.0  26.0  28.0
q   0.0   2.0   4.0   6.0   8.0
t   NaN   NaN   NaN   NaN   NaN
w  10.0  12.0  14.0  16.0  18.0
y   NaN   NaN   NaN   NaN   NaN

In [17]:
e = pd.DataFrame({"q": [100,200]})
f = pd.DataFrame({"w": [1000,2000]})

In [18]:
e

     q
0  100
1  200

In [19]:
f

      w
0  1000
1  2000

In [20]:
e + f

    q   w
0 NaN NaN
1 NaN NaN