In [ ]:
%pip install pandas

import pandas as pd
import numpy as np

## Numpy + Pandas

In [2]:
a = pd.DataFrame(np.random.standard_normal((5,6)), columns=list("abcdef"), index=["q","w","e","t","y"])
a

          a         b         c         d         e         f
q  0.422454  2.060339 -2.030752 -0.252266  1.248557  0.236582
w -0.051695 -0.415766 -1.218847  0.979586 -1.714635 -1.524610
e -0.216980  0.713623  0.239798  0.339707  0.928208 -0.224577
t -2.732383 -1.930819  1.582488  1.916077 -1.985972  0.229043
y  0.587931  0.847247 -0.275458 -0.841433  0.838466 -0.132781

In [ ]:
np.abs(a)

In [5]:
def funkcja(arg1):
    return arg1.max() - arg1.min()

a.apply(funkcja, axis="columns")

q    4.091091
w    2.694220
e    1.152784
t    4.648460
y    1.688680
dtype: float64

In [6]:
def funkcja2(arg1):
    return pd.Series([arg1.min(), arg1.max()], index=["minimum","maximum"])

a.apply(funkcja2)

                a         b         c         d         e         f
minimum -2.732383 -1.930819 -2.030752 -0.841433 -1.985972 -1.524610
maximum  0.587931  2.060339  1.582488  1.916077  1.248557  0.236582

In [8]:
def funkcja3(arg1):
    return f"{arg1:.3f}"

a.applymap(funkcja3)

        a       b       c       d       e       f
q   0.422   2.060  -2.031  -0.252   1.249   0.237
w  -0.052  -0.416  -1.219   0.980  -1.715  -1.525
e  -0.217   0.714   0.240   0.340   0.928  -0.225
t  -2.732  -1.931   1.582   1.916  -1.986   0.229
y   0.588   0.847  -0.275  -0.841   0.838  -0.133

In [9]:
a["a"].map(funkcja3)

q     0.422
w    -0.052
e    -0.217
t    -2.732
y     0.588
Name: a, dtype: object