In [ ]:
%pip install pandas

import pandas as pd
import numpy as np

## Sortowanie

In [4]:
a = pd.Series(np.arange(5), index=list("acbfe"))

In [5]:
a

a    0
c    1
b    2
f    3
e    4
dtype: int32

In [6]:
a.sort_index()

a    0
b    2
c    1
e    4
f    3
dtype: int32

In [13]:
b = pd.DataFrame(np.arange(6).reshape((2,3)),index=["b","a"],columns=["q","w","e"])

In [14]:
b

   q  w  e
b  0  1  2
a  3  4  5

In [17]:
b.sort_index(axis="columns",ascending=False)

   w  q  e
b  1  0  2
a  4  3  5

In [21]:
c = pd.Series([45,234,np.nan,np.nan,456,123])

In [22]:
c.sort_values()

0     45.0
5    123.0
1    234.0
4    456.0
2      NaN
3      NaN
dtype: float64

In [23]:
c.sort_values(na_position="first")

2      NaN
3      NaN
0     45.0
5    123.0
1    234.0
4    456.0
dtype: float64

In [35]:
b.sort_values(["q","e"], ascending=[False,True])

   q  w  e
a  3  4  5
b  0  1  2

## Rank

In [29]:
d = pd.Series([3,6,7,3,8,1,5,8])

In [30]:
d

0    3
1    6
2    7
3    3
4    8
5    1
6    5
7    8
dtype: int64

In [32]:
d.rank(method="first")

0    2.0
1    5.0
2    6.0
3    3.0
4    7.0
5    1.0
6    4.0
7    8.0
dtype: float64

In [33]:
d.rank(ascending=False)

0    6.5
1    4.0
2    3.0
3    6.5
4    1.5
5    8.0
6    5.0
7    1.5
dtype: float64