In [ ]:
%pip install pandas

import pandas as pd
import numpy as np

## Duplikaty

In [2]:
a = pd.Series(np.arange(6), index=["q","q","w","w","e","t"])

In [3]:
a

q    0
q    1
w    2
w    3
e    4
t    5
dtype: int32

In [4]:
a.index.is_unique

False

In [7]:
a["q"]

q    0
q    1
dtype: int32

In [8]:
b = pd.DataFrame(np.random.standard_normal((3,4)), index=["q","q","w"])

In [9]:
b

          0         1         2         3
q  0.795721 -0.658382 -0.220384  1.470749
q -1.390518  1.309740  1.064923  0.233849
w  0.096314  0.343460  0.829929  0.616570

In [12]:
b.loc["q"]

          0         1         2         3
q  0.795721 -0.658382 -0.220384  1.470749
q -1.390518  1.309740  1.064923  0.233849